name: Build SBOM and send to dt-api.
on: push
jobs:
  myJob:
    runs-on: ubuntu-latest 
    steps:
     - name: CryptoSoftInc-Aggregated-SBOM 
       uses: CryptosoftInc/Aggregate-Sbom-Javascript@1.0.0
       with: 
           dt-url: "https://dt-api.staging.cryptosoft.com"
           api-key:  "1DMIXAnGtTIeTQDddlHSvpj6d3as174S"
           project-name: "test-aggregate-action"
           project-version: "1.0.0"
          

